.header-text{
    width: 100%;
    height: 70px;
    background:#fff;
}
.header-text .main-heading{
margin-left: 180px;
font-size: 20px;
padding-top: 20px;
font-weight: bold;
}
.mcard .add-new{
    width: 50px;
    margin-left: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translate(-50%,0);
}
.mcard .face-wr{
    display: flex;
    width: 200px;
    margin-left: 50%;
    transform: translate(-50%,0);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.mcard .face-wr img{
    width: 36px;
    height: 36px;
margin-top: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.mcard .add-poster{
    height: 150px;
    width: 225px;
    margin-left: 50%;
    transform: translate(-50%,0);
}
.container-fluid{
    margin:30px auto;
}

.mcard{
    width: 324px;
    height: 320px;
    background:#fff;
    border-radius: .25rem;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.mcard .bant{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins;
    padding-top: 58px;
}
.mcard .bant-s{
    text-align: center;
    margin-top: 10px;
    color:#bebebe;
    font-weight: 100;
    font-size: 16px;
    font-family: Poppins;
}