<div class="header-text">
<h1 class="main-heading">Team Building</h1>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="mcard">
                    <h6 class="bant">Build a new Team</h6>
                    <img src="/assets/images/team-add.png" class="add-new">
                    <img src="/assets/images/Influence_image_small.png" class="add-poster">
                </div>
            </div>
        
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Management</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-2.png">
                <img src="/assets/images/face-icon-3.png">
                <img src="/assets/images/face-icon.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Accounts Team</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-2.png">
                <img src="/assets/images/face-icon-3.png">
                <img src="/assets/images/face-icon.png">
                <img src="/assets/images/face-icon-2.png">
                <img src="/assets/images/face-icon-3.png">
                <img src="/assets/images/face-icon.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Accounts Team</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-2.png">
                <img src="/assets/images/face-icon-3.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Accounts Team</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-2.png">
                <img src="/assets/images/face-icon-3.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Management</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-2.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">HR</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-2.png">
                <img src="/assets/images/face-icon-3.png">
                <img src="/assets/images/face-icon.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Accounts Team</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-3.png">
                <img src="/assets/images/face-icon.png">
            </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="mcard">
            <h6 class="bant">Management</h6>
            <p class="bant-s">Sara bloomburg</p>
            <div class="face-wr">
                <img src="/assets/images/face-icon-3.png">
            </div>
        </div>
       </div>
    </div>
    </div>