<div class="hd">
<ul>
    <li>
        <a>Pick a job vacancy</a>
    </li>
    <li>
        <a>Pick a target Influencing Strategy</a>
    </li>
    <li>
        <a>Set Factor Biases</a>
    </li>
    <li>
        <a>Set Metaskill thresholds</a>
    </li>
</ul>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="cover-fill-color">

                </div>
                <div class="hire-profile">
                    <div class="profile-img">
                   <img src="/assets/images/face-icon.png">     
                    </div>
                    <h4 class="title">Sarah Bloomburg</h4>
                    <p class="desc">Teacher at St Barts</p>
                </div>
                <div class="card-body">
                    <div class="point">
                      <div class="skills-box">
                          <h4>55</h4>
                          <p>Metaskills</p>
                      </div>  
                      <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-footer">
                     <div class="link-btn">
                       <button type="button" class="btn btn-primary btn-rounded shadow">
                        See LinkedIn
                       </button>  
                     </div>   
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="cover">
<img src="/assets/images/hire/1.png" class="img-fluid">
                </div>
                <div class="hire-profile">
                    <div class="profile-img">
                   <img src="/assets/images/face-icon-2.png">     
                    </div>
                    <h4 class="title">Sarah Bloomburg</h4>
                    <p class="desc">Teacher at St Barts</p>
                </div>
                <div class="card-body">
                    <div class="point">
                      <div class="skills-box">
                          <h4>55</h4>
                          <p>Metaskills</p>
                      </div>  
                      <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-footer">
                     <div class="link-btn">
                       <button type="button" class="btn btn-primary btn-rounded shadow">
                        See LinkedIn
                       </button>  
                     </div>   
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="cover">
<img src="/assets/images/hire/1.png" class="img-fluid">
                </div>
                <div class="hire-profile">
                    <div class="profile-img">
                   <img src="/assets/images/face-icon-3.png">     
                    </div>
                    <h4 class="title">Sarah Bloomburg</h4>
                    <p class="desc">Teacher at St Barts</p>
                </div>
                <div class="card-body">
                    <div class="point">
                      <div class="skills-box">
                          <h4>55</h4>
                          <p>Metaskills</p>
                      </div>  
                      <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-footer">
                     <div class="link-btn">
                       <button type="button" class="btn btn-primary btn-rounded shadow">
                        See LinkedIn
                       </button>  
                     </div>   
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="cover">
<img src="/assets/images/hire/2.png" class="img-fluid">
                </div>
                <div class="hire-profile">
                    <div class="profile-img">
                   <img src="/assets/images/face-icon.png">     
                    </div>
                    <h4 class="title">Sarah Bloomburg</h4>
                    <p class="desc">Teacher at St Barts</p>
                </div>
                <div class="card-body">
                    <div class="point">
                      <div class="skills-box">
                          <h4>55</h4>
                          <p>Metaskills</p>
                      </div>  
                      <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-footer">
                     <div class="link-btn">
                       <button type="button" class="btn btn-primary btn-rounded shadow">
                        See LinkedIn
                       </button>  
                     </div>   
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="cover">
<img src="/assets/images/hire/2.png" class="img-fluid">
                </div>
                <div class="hire-profile">
                    <div class="profile-img">
                   <img src="/assets/images/face-icon.png">     
                    </div>
                    <h4 class="title">Sarah Bloomburg</h4>
                    <p class="desc">Teacher at St Barts</p>
                </div>
                <div class="card-body">
                    <div class="point">
                      <div class="skills-box">
                          <h4>55</h4>
                          <p>Metaskills</p>
                      </div>  
                      <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-footer">
                     <div class="link-btn">
                       <button type="button" class="btn btn-primary btn-rounded shadow">
                        See LinkedIn
                       </button>  
                     </div>   
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="cover-fill-color">

                </div>
                <div class="hire-profile">
                    <div class="profile-img">
                   <img src="/assets/images/face-icon.png">     
                    </div>
                    <h4 class="title">Sarah Bloomburg</h4>
                    <p class="desc">Teacher at St Barts</p>
                </div>
                <div class="card-body">
                    <div class="point">
                      <div class="skills-box">
                          <h4>55</h4>
                          <p>Metaskills</p>
                      </div>  
                      <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    <div class="skills-box">
                        <h4>55</h4>
                        <p>Metaskills</p>
                    </div> 
                    </div>
                    
                </div>
                <div class="card-footer">
                     <div class="link-btn">
                       <button type="button" class="btn btn-primary btn-rounded shadow">
                        See LinkedIn
                       </button>  
                     </div>   
                </div>
            </div>
        </div>
    </div>
</div>
