<div class="symptoms">
    <h1>covid-19 symptoms</h1>
    <div class="symp-wr">
    <div class="symptoms-img-big">
        <img src="/assets/images/main-symp-img.png">
    </div>
    <div class="wr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-6">
                <div class="item-sy">
                    <div class="sy-img">
                        <img src="/assets/images/symp-a.png" alt="symp-a">
                    </div>
                    <h2>Dry Cough</h2>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item-sy">
                    <div class="sy-img">
                        <img src="/assets/images/symp-b.png" alt="symp-b">
                    </div>
                    <h2>sore throat</h2>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item-sy">
                    <div class="sy-img">
                        <img src="/assets/images/symp-c.png" alt="symp-c">
                    </div>
                    <h2>cold</h2>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item-sy">
                    <div class="sy-img">
                        <img src="/assets/images/symp-d.png" alt="symp-d">
                    </div>
                    <h2>fever</h2>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item-sy">
                    <div class="sy-img">
                        <img src="/assets/images/symp-e.png" alt="symp-e">
                    </div>
                    <h2>headache</h2>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item-sy">
                    <div class="sy-img">
                        <img src="/assets/images/symp-f.png" alt="symp-f">
                    </div>
                    <h2>vomiting</h2>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>