.header{
    height: 100vh;
    background-image:url('/assets/images/banner.jpg');
background-size: cover;   
}
.layer{
    height: 100vh;
    background:rgb(0, 0, 0,0.50);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-div{
    width: 45%;
}
.center-div h1{
    text-align: center;
    color:#fff;
    font-weight: 500;
}
.center-div p{
    color:#ffffd9;
    margin-top: 30px;
}
.center-div button{
    color:#fff;
    background:#3498db;
    padding:10px 30px;
font-size: 21px;
    border:none;
    border-radius: 5px;
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%,0);
}
@media (max-width:567px){
    .header{
        height: 100vh;
        background-image:url('/assets/images/banner.jpg');
       background-size: cover;
    }
    .layer{
        height: 100vh;
        background:rgb(0, 0, 0,0.70);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center-div h1{
        text-align: center;
        color:#fff;
        font-weight: 500;
        font-size: 20px;
    }
    .center-div{
        width: 75%;
       
    }
    .center-div p{
        color:#ffffd9;
        font-size: 14px;
        margin-top: 30px;
    }   
    .center-div button{
        color:#fff;
        background:#3498db;
        padding:8px 20px;
    font-size: 16px;
    width: 140px;
        border:none;
        border-radius: 5px;
        margin-left: 50%;
        margin-top: 30px;
        transform: translate(-50%,0);
    }
}
@media (min-width:568px) and (max-width:767px){
    .center-div{
        width: 75%;
    }
}
@media (min-width:768px) and (max-width:991px){
    .center-div{
        width: 75%  ;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .center-div{
        width: 75%  ;
    }
}