.header-text{
    width: calc(100%-150px);
    height: 100px;
    background:#fff;
    padding:0 30px;
}
.container{
    padding-bottom: 30px;
    padding-top: 15px;
}
.header-text .main-heading{
padding-top: 20px;
color: #000;
    font-size: 28px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 45px;
}

.card{
    border: none!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    height: 320px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.card .team-member{
    text-align: center;
    margin: 65px auto 0;
}
.card .team-member .title{
    font-family: Poppins,sans-serif;
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0;
    text-decoration: none;
}