<div class="consult">
    <h1>consult to our doctors</h1>
    <div class="container" style="margin-top: 3rem;">
        <div class="row">
            <div class="col-xl-4">
                <div class="item">
                    <div class="doc-img">
                        <img src="/assets/images/doc1.png">
                    </div>
                    <h2>John Doe</h2>
                    <h5>Senior Expert</h5>
                    <div class="hr1"></div>
                    <div class="social">
                        <div class="circle">
                            <i class="fa fa-whatsapp"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="item">
                    <div class="doc-img">
                        <img src="/assets/images/doc2.png">
                    </div>
                    <h2>John Doe</h2>
                    <h5>Senior Expert</h5>
                    <div class="hr1"></div>
                    <div class="social">
                        <div class="circle">
                            <i class="fa fa-whatsapp"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="item">
                    <div class="doc-img">
                        <img src="/assets/images/doc3.png">
                    </div>
                    <h2>John Doe</h2>
                    <h5>Senior Expert</h5>
                    <div class="hr1"></div>
                    <div class="social">
                        <div class="circle">
                            <i class="fa fa-whatsapp"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="circle">
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>