<div class="hand-wash">
    <h1>wash your hand properly</h1>
    <div class="handy">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="itme">
                        <div class="itme-im">
                            <img src="/assets/images/wash-a.png">
                        </div>
                        <h4>water and soap</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="itme">
                        <div class="itme-im">
                            <img src="/assets/images/wash-b.png">
                        </div>
                        <h4>palm to palm</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="itme">
                        <div class="itme-im">
                            <img src="/assets/images/wash-c.png">
                        </div>
                        <h4>between fingures</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="itme">
                        <div class="itme-im">
                            <img src="/assets/images/wash-d.png">
                        </div>
                        <h4>focus on thumbs</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="itme">
                        <div class="itme-im">
                            <img src="/assets/images/wash-e.png">
                        </div>
                        <h4>back of hands</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="itme">
                        <div class="itme-im">
                            <img src="/assets/images/wash-f.png">
                        </div>
                        <h4>focus on wrists</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="handy-img">
            <img src="/assets/images/main-wash-img.png">
        </div>
    </div>
</div>