<div class="prevent">
    <h1>how to prevent virus</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <div class="img-wr">
                        <img src="/assets/images/pre-1.png" alt="pre1">
                    </div>
                    <h4>Wash your place</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti vero sequi perspiciatis
                        deleniti esse quos optio fuga eius unde.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <div class="img-wr">
                        <img src="/assets/images/pre-2.png" alt="pre2">
                    </div>
                    <h4>maintain distance</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti vero sequi perspiciatis
                        deleniti esse quos optio fuga eius unde.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <div class="img-wr">
                        <img src="/assets/images/pre-3.png" alt="pre3">
                    </div>
                    <h4>don't touch face</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti vero sequi perspiciatis
                        deleniti esse quos optio fuga eius unde.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <div class="img-wr">
                        <img src="/assets/images/pre-4.png" alt="pre4">
                    </div>
                    <h4>Wash your hand</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti vero sequi perspiciatis
                        deleniti esse quos optio fuga eius unde.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <div class="img-wr">
                        <img src="/assets/images/pre-5.png" alt="pre5">
                    </div>
                    <h4>Use napkins</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti vero sequi perspiciatis
                        deleniti esse quos optio fuga eius unde.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <div class="img-wr">
                        <img src="/assets/images/pre-6.png" alt="pre6">
                    </div>
                    <h4>wear a mask</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti vero sequi perspiciatis
                        deleniti esse quos optio fuga eius unde.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>