<div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <nav class="primary-nav">
              <div class="header-menu">
               <div class="main-heading-title">Metaskills</div>   
               <div class="main-filter-option">
                   <div class="custom-select" style="width: 200px;">
<select>
    <option value="0">Filter :</option>
    <option value="1">Size</option>
    <option value="2">To Rated</option>
    <option value="3">Low</option>
    <option value="4">High</option>
</select>
                   </div>
               </div>
              </div>      
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid" style=" background-color: rgb(247, 247, 251);padding-top: 20px;">
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            Focus
                        </div>
                    </div>
                <div id="chartContainer" style="height: 250px;"></div>
            </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            Agility
                        </div>
                    </div>
              <app-chart-a></app-chart-a>
            </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            Bounce
                        </div>
                    </div>
              <app-chart-b></app-chart-b>
            </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="header">
                        <div class="title">
                            Agency
                        </div>
                    </div>
              <app-chart-c></app-chart-c>
            </div>
            </div>
        </div>
    </div>


<div id="divChart">
  
</div>
