<div class="header-text">
    <h1 class="main-heading">Employees</h1>
    </div>
    <div class="container-fluid">
        
<div class="row" style="margin-top: 20px;">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-container">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>
            <select>
                <option value="0" disabled>Status</option>
                <option value="0">Show Only</option>
                <option value="1">OK</option>
                <option value="2">Not Found</option>
                <option value="3">Not Connected</option>
            </select>
        </th>
        <th>Action</th>
        <th>
            <div class="permission">
                <h3>Pemission Level</h3>
                <div class="level">
              <div>3</div>
              <div>4</div>
              <div>5</div>      
                </div>
            </div>
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td class="status">OK</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td class="status">OK</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="not-found">
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td>Not Found</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td class="status">OK</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td class="status">OK</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="not-connected">
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td>Not Connected</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td class="status">OK</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="not-found">
        <td>
            Stephen
        </td>
        <td>
            Weathernil
        </td>
        <td>steve@steer.global</td>
        <td>Not Found</td>
        <td>Remove</td>
        <td>
            <div class="level-value">
                <div class="circle">
                    <div class="active3">

                    </div>
                </div>
                <div class="circle">
                    <div>

                    </div>
                </div>
                <div class="circle">
                    <div>
                        
                    </div>
                </div>
            </div>
        </td>
    </tr>
</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>

