<div class="header-text">
    <h1 class="main-heading">People</h1>
    <button class="btn btn-primary">Add More People</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon.png">
        <h4 class="title">Sarah Bloomburg</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon-2.png">
        <h4 class="title">Tom Robinson</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon-3.png">
        <h4 class="title">William James</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon.png">
        <h4 class="title">Sarah Bloomburg</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon-2.png">
        <h4 class="title">Tom Robinson</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon-3.png">
        <h4 class="title">William James</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon.png">
        <h4 class="title">Sarah Bloomburg</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon-2.png">
        <h4 class="title">Tom Robinson</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="card">
    <div class="people">
        <img class="p-con" src="/assets/images/face-icon-3.png">
        <h4 class="title">William James</h4>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Self</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-self"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Trust of Others</h5>
       <div class="prog">
        <hr>
        <div class="circle trust-of-others"></div>
       </div>
       
    </div>
    <div class="progress-box">
        <h5 class="title">Self Disclosure</h5>
       <div class="prog">
        <hr>
        <div class="circle self-disclosure"></div>
       </div>
       
    </div>
</div>
            </div>
            
        </div>
    </div>