<div class="backg">
    <div class="header-text">
        <h1 class="main-heading">Health Check</h1>
        <table class="table">
            <thead>
                <tr>
                    <th width="20%"></th>
                    <th width="3%" class="bordered">
                        <div class="main-hd-icon">
                            <img src="/assets/images/health-check/up-down.png" class="img-fluid">

                        </div>
                    </th>
                    <th width="3%" class="bordered">
                        <div class="main-heading1">
                            Risk
                        </div>
                    </th>
                    <th width="17%">
                        <div class="main-heading1">
                            Trust of Self
                        </div>
                    </th>
                    <th width="17%">
                        <div class="main-heading1">
                            Trust of Others
                        </div>
                    </th>
                    <th width="17%">
                        <div class="main-heading1">
                            Self Disclosure
                        </div>
                    </th>
                    <th width="17%">
                        <div class="main-heading1">
                            Seeking Change
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div>
                    <table class="table">
                        <tbody>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left red">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left red">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left red">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right red">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left red">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left red">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left red">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="up-border">
                                <th width="20%">
                                    <div class="title">
                                        <img src="/assets/images/face-icon.png">
                                        <div>Sarah Bloomburg</div>
                                    </div>
                                </th>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/up-red.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="3%" class="bordered">
                                    <div class="main">
                                        <div class="risk">
                                            <img src="/assets/images/health-check/green-weight.png">
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right red">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%">
                                    <div class="main">
                                        <div class="box left green">
                                            <span>At Work</span>
                                        </div>
                                        <div class="box right green">
                                            <span>General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>