.header-text{
    width: 100%;
    height: auto;
    background:#fff;
}
.header-text .main-heading{
margin-left: 40px;
font-size: 28px;
font-family: Poppins;
padding-top: 20px;
font-weight: bold;
}

.backg{
    background-color: rgb(247, 247, 251);
    height: 100vh;
    width:100%;
}

.table th{
    border:none!important;
}
th .main-hd-icon{
    width: 50px;
}
th .main-heading1{
    text-align: center;
    font-size: 16px;
    color: #7e8391;
    display: flex;
    justify-content: center;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 400;
}
.container-fluid{
    margin:30px auto;
}

.table tbody tr{
    width: 100%;
    margin: 10px 0;
    background: #fff;
    height: 63px;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.row{
    margin-left: 0;
    margin-right:0;
}
tbody .title div{
font-size: 16px;
font-weight: 300;
font-family: Source Sans Pro;
font-weight: 500;
}
th .title img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
td{
    border:none;
}

.main .risk{
    color: #959595;
    font-size: 20px;
    text-align: center;
    font-family: Source Sans Pro,sans-serif;
    margin: 0 auto;
}
.box.left{
    border-radius: 3px;
}
.box.green{
    background: #e2efdb;
}
.box{
    width: 75px;
    height: 25px;
    margin: .2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    color: #bfbfbf;
    font-family: Source Sans Pro,sans-serif;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 400;
}
.box.green span{
    color: #489a18;
}
.box span{
    font-size: 14px;
    text-align: center;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 400;
}
.box.red{
    background: #fad2c8;
}
.box.red span{
    color: #bf3b1a;
}
tr.up-border{
border-bottom:10px solid rgb(247, 247, 251);;
}