<div class="wr">
<div class="wrapper">
    <nav id="sidebar">
    <div class="sidebar-brand">
        <img src="/assets/images/logo.png" class="img-fluid">
    </div>
    
    <ul class="side-nav-list">
        <span class="border-top"></span>
        <li routerLink="people" routerLinkActive="active1" (click)=toggle(false)>
            <div><img src="/assets/images/nav-icon/people.png" *ngIf="isPeople" class="lio">
                <img src="/assets/images/nav-icon/white_people.png" *ngIf="!isPeople" 
                class="lio"></div><a>People</a></li>
        <li routerLink="team-building" routerLinkActive="active1" (click)=toggle(true)>
            <div>
            <img src="/assets/images/nav-icon/teams.png" class="lio">
        </div>
        <a>Team Building</a></li>
        <li routerLink="productivity" routerLinkActive="active1" (click)=toggle(true)>
            <img src="/assets/images/nav-icon/toolbox.png" class="lio"><a>Productivity</a></li>
            <li routerLink="meta-skills" routerLinkActive="active1" (click)=toggle(true)>
                <img src="/assets/images/nav-icon/toolbox.png" class="lio"><a>Metaskills</a></li>
        <li routerLink="health-check" routerLinkActive="active1">
            <img src="/assets/images/nav-icon/health.png" (click)=toggle(true) class="lio">
            <a>Healthcheck</a></li>
        <li routerLink="hire" routerLinkActive="active1" (click)=toggle(true)>
            <img src="/assets/images/nav-icon/hire.png" class="lio"><a>Hire</a></li>
        <li routerLink="library" routerLinkActive="active1" (click)=toggle(true)>
            <img src="/assets/images/nav-icon/library.png" class="lio"><a>Library</a></li>
        <li routerLink="settings" routerLinkActive="active1" (click)=toggle(true)>
            <img src="/assets/images/nav-icon/settings.png" class="lio"><a>Setting</a></li>
        <li routerLink="admin" routerLinkActive="active1" (click)=toggle(true)>
            <img src="/assets/images/nav-icon/admin.png" class="lio"><a>Admin</a></li>
    </ul>
    </nav>
</div>
<div class="mcls">
    <router-outlet></router-outlet>
</div>

</div>