<div class="precautions">
    <h1>take precautions against covid-19</h1>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <div class="pres-item">
                <div class="pres-head do">
                    <h1>things you should do</h1>
                </div>
                <div class="pres-content">
                    <div class="content">
                        <div class="w-i">
                            <img src="/assets/images/do-img1.png">
                        </div>
                        <div class="content-w">
                            <h1>wash your hand</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat soluta quo eum iste? Similique ad nesciunt delectus molestias!</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="w-i">
                            <img src="/assets/images/do-img2.png">
                        </div>
                        <div class="content-w">
                            <h1>always wear a mask</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat soluta quo eum iste? Similique ad nesciunt delectus molestias!</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="w-i">
                            <img src="/assets/images/do-img3.png">
                        </div>
                        <div class="content-w">
                            <h1>stay home during fever</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat soluta quo eum iste? Similique ad nesciunt delectus molestias!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pres-item">
                <div class="pres-head dons">
                    <h1>things you should not dO</h1>
                </div>
                <div class="pres-content">
                    <div class="content">
                        <div class="w-i">
                            <img src="/assets/images/dont-img1.png">
                        </div>
                        <div class="content-w">
                            <h1>avoid close contact with animals</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat soluta quo eum iste? Similique ad nesciunt delectus molestias!</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="w-i">
                            <img src="/assets/images/dont-img2.png">
                        </div>
                        <div class="content-w">
                            <h1>avoid close contact with peoples</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat soluta quo eum iste? Similique ad nesciunt delectus molestias!</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="w-i">
                            <img src="/assets/images/dont-img3.png">
                        </div>
                        <div class="content-w">
                            <h1>avoid crowed areas</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sequi fugiat soluta quo eum iste? Similique ad nesciunt delectus molestias!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>