<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-3 col-sm-4 col-7">
                <h1 class="ft-h"> About Us </h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa suscipit quos aliquid a voluptatum inventore voluptates reprehenderit, quidem id dicta?</p>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-2 col-4">
                <h1 class="ft-h">Locations</h1>
                <ul>
                    <li>India</li>
                    <li>USA</li>
                    <li>France</li>
                    <li>Russia</li>
                    <li>Asia</li>
                </ul>
            </div>
            <div class="col-xl-1 col-md-1 col-sm-1 col-1">

            </div>
            <div class="col-xl-2 col-md-3 col-sm-2 col-5">
                <h1 class="ft-h"> Quick Links </h1>
                <ul>
                    <li>Home</li>
                    <li>Prevent</li>
                    <li>Symptoms</li>
                    <li>Precautions</li>
                    <li>Doctor</li>
                    <li>Hand-Wash</li>
                </ul>
            </div>
            <div class="col-xl-1 col-md-1 col-sm-1 col-2">

            </div>
            <div class="col-xl-2 col-md-2 col-sm-2 col-5">
                <h1 class="ft-h">Follow Us</h1>
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitte</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#"></a>Linkedin</li>
                  <li><a href="#">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hrr"></div>
    <p class="text-center cop">
        Created By Mr. Web Designer &copy; Copyright @2021
    </p>
</footer>