<div class="header-text">
    <h1 class="main-heading">Settings</h1>
    </div>
    <div class="contanier-fluid page-content">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="settings-wr">
    <ul>
        <li>
            <a>Change Password</a>
        </li>
        <li>
            <a>Email Notifications 
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
            </a>
        </li>
        <li>
            <a>Privacy and Terms</a>
        </li>
        <li>
            <a>Contact</a>
        </li>
        <li>
            <a>Delete account</a>
        </li>
        <li>
            <a>Log out</a>
        </li>
    </ul>
</div>
            </div>
        </div>
        </div>